@use "../../../styles/variables" as vars;

.ctaButton {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(114deg, #ecbc91 3%, #d17d47 30%, #af3825 90%);
  color: #ffffff;
  border: none;
  border-radius: vars.$corner-full;
  padding: 6px 6px 6px 19px;
  font-size: vars.$font-size-ui;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 15px rgba(209, 125, 71, 0.4);
  }

  .arrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: vars.$base-dark;
    border-radius: 50%;
    width: 34px;
    height: 34px;
  }
}
